<div class="container mt-5">
 <div class="row">
  <dev class="mx-auto">
   <h1>
    welcome to
    <i class="fas fa-book"></i>
    <storng>Bookers !!</storng>
   </h1>
   <p>In<i class="fas fa-book"></i> 
    <strong>Bookers</strong>
   </p>
   <p>
    you can share and exchange your opinions , inpressions , and emotions<br/>
    about various books !!
   </p>
   
  </div>
</div>